@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kaushan+Script&family=Lexend+Deca:wght@100;400&family=Montserrat:wght@200;300;600&family=Outfit:wght@300;400;600&family=Permanent+Marker&family=Qwigley&family=Red+Hat+Display:wght@500;700;900&family=Road+Rage&family=Shalimar&display=swap');
*{
    margin: 0;
    padding:0 ;
}
:root{
 --very-pale-blue: hsl(225, 100%, 98%);
 --disaturate-blue:hsl(224, 23%, 55%);
 --Dark-blue: hsl(223, 47%, 23%);
 --pale-blue:hsl(225, 100%, 94%);
 --Bright-blue:hsl(225, 100%, 94%);
 --default-width:1440px;
 --height:900px;
 --container-width:28rem;
}
body{
   
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg) no-repeat  ;
   
    background-color:  var(--Bright-blue);
    font-size: 16px;
    z-index: -100;
    display: grid;
    place-items: center;
    width: var(--default-width);
    height: var(--height);
}
.container{
    
    display: grid;
    place-items: center;
    width: var(--container-width);
    height: auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 12px 20px 0px rgba(19, 18, 18, 0.151);;
}
.container img{
    width: var(--container-width);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.summary{
    display: grid;
    place-items: center;
    padding: 23px 0px 17px ;
}
.summary p{
    line-height: 27px;
    text-align: center;
    color: hsla(224, 23%, 55%, 0.925);
    width: 320px;
    font-size: 16.9px;
    padding: 8px;
}
h2{
    padding: 20px;
    padding-top: 16px;
    padding-bottom: 10px;
    font-weight: 900;
    color: hsl(223, 47%, 23%); 
    font-size: 28px;
}
.plan{
    display: inline-flex;
    justify-content: space-around;
    place-items: center;
    padding: 20px 14px;
    background-color: hsla(228, 100%, 98%, 0.911);
    margin-bottom: 37px;
    width: 320px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-left: 17px;
    line-height: 20px;
    
}
.price p:first-child{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-right: 75px;
    margin-bottom: 5px;
    font-size: 17px;
}
.price p:last-child{
    margin-top: 3px;
    color: hsla(224, 23%, 55%, 0.925);
}

.plan img{
    width: 48px;
    height: 48px;
    padding-right: 4px;
}
.icon {
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.btn{
    font-size: 15px;
    width: 354px;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    border: darkblue 0px solid;
    color: #fff;
    font-weight: 700;
    box-shadow:3px 10px 30px hsla(224, 23%, 55%, 0.356);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    place-items: center;
    justify-content: center;
}
.cancel{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14.8px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
   padding: 32px 29px 46px;
    text-decoration: none;
    
}
.plan a{
    color: darkblue;
    font-weight: 900;
    font-size: .8rem;
   
}
.attribution { 
    font-size: 11px;
     text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
.plan a:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}
 button:hover{
    background-color:  hsla(245, 75%, 52%, 0.692);
    cursor: pointer;
}
 .cancel:hover{
    color:hsl(223, 47%, 23%);
}

@media (max-width: 375px){
    body{
        width: 100vw;
        height: 100vh;
        background: url(images/pattern-background-mobile.svg) no-repeat  ;
        background-color: hsl(225, 100%, 94%);
        font-size: 16px;
    }
    .container{
        display: grid;
        place-items: center;
        margin: 3% auto;
        width: 345px;
        height: auto;
        background-color: #fff;
        border-radius: 15px;
        
    }
    .container img{
        width: 345px;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    
.summary{
    display: grid;
    place-items: center;
    padding: 0 15px 25px;
    margin-left: 0;
}
.summary p{
    line-height: 22px;
    text-align: center;
    padding-top: 0;
    width: 250px;
    font-size: 16px;
}

h2{
    padding: 23px 20px 15px;
    font-weight: 900;
    color: hsl(223, 47%, 23%); 
}
.plan{
    display: inline-flex;
    justify-content: space-around;
    place-items: center;
    padding: 10px;
    background-color: hsl(225, 100%, 98%);
    margin-bottom: 24px;
    width: 260px;
}
.price{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-right: 20px;
}
.price p:first-child{
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    margin-right: 10px;
}
.plan img{
    width: 45px;
    height: 45px;
}
.icon {
    display: flex;
    justify-content: space-around;
    place-items: center;
}

.btn{
 
    width: 280px;
    /* height: 30px; */
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    border: darkblue 0px solid;
    color: #fff;
    font-weight: 700;
    box-shadow:3px 10px 30px hsla(224, 23%, 55%, 0.356);
    font-family: 'Red Hat Display', sans-serif;
    
}
.cancel{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 0.9rem;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    padding: 19px 25px 30px;
    text-decoration: none;
}
.plan a{
    color: darkblue;
}
}